html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
html {
    position: relative;
    z-index: 1;
}
#login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#login-container-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-top: 0.25px solid rgba(0, 0, 0, 0.2);
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

#logo-container img {
    width: 350px;
}

#login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    background-color: rgb(101, 101, 163);
    gap: 10px;
}

.campo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 30px;
    box-shadow: 1px 2px 1.5px rgba(0, 0, 0, 0.8);
}

.campo div {
    background-color: rgb(182, 182, 182);
    height: 30px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    border-right: 1px solid rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

#icon-password i:not(.active) {
    display: none;
}

.campo div i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    padding: 5px;
}

#icon-password {
    cursor: pointer;
}

#login-form input {
    width: 230px;
    height: 30px;
    outline: none;
    border: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.7);
    padding: 0 10px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#login-form input:hover {
    background-color: rgb(207, 207, 207);
    border-color: black;
}
#login-form input:focus {
    border: 1px solid blue;
}
#login-form input::placeholder {
    color: rgb(101, 101, 163);
}
#login-form input:focus::placeholder {
    color: transparent;
}
#login-form button {
    border: none;
    background-color: white;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    width: 100px;
    height: 35px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
    color: rgb(101, 101, 163);
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.8);
    transition: background-color 0.5s ease;
}
#login-form button:hover {
    background-color: rgb(207, 207, 207);
}
#login-form button i {
    margin: 0 5px 0 0;
}